"node_modules/
.docusaurus/
build/
dist/
coverage/
.nyc_output/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
edit-this-doc/
*.tgz
.lock-wscript
.env.defaults
.env.defaults.local
.DS_Store
Thumbs.db
nul" 
