import React from 'react';
import { UserProfileProvider } from './components/PersonalizeButton';

export default function Root({ children }) {
  return <UserProfileProvider>{children}</UserProfileProvider>;
}